body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-error {
    background-color: #f8d7da !important;
    border-color: #f1aeb5 !important;
    color: #58151c !important;
}

.input-success {
    background-color: #d7f8da !important;
    border-color: #aef1b5 !important;
    color: #15581c !important;
}
